<%= form_with url: user_create_post_s_path  do |form| %>

	<%= form.hidden_field :id, value: @user.id %>

	<%= form.label :msg, "Post Message:" %>
	<%= form.text_area :msg %>

	<br><br>

	<%= form.submit "Post" %>
<% end %>

<br>
<a href="<%= user_main_path %>"><button>Cancel</button></a>